/* fonte geral */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);


/* tela de login */
/* #topo { width:100%; text-align:center;} */
* {box-sizing: border-box;}

#content{ width:880px; margin:0 auto; height:490px; margin-top:80px; display:block;}
#direito { width:320px; float:right; height:320px;}
#esquerdo { width:478px; float:left; height:475px; } 
#aviso { background-color:#2C73A8; width:478px; height:154px; color:#FFFFFF; font-size:16px; line-height:25px; padding-left:20px; }
#aviso h3{ font-size:30px; margin:0px; padding-top:20px; padding-bottom:20px; }
#rodape { border-top:1px solid #eee;  width:880px; margin:0 auto; text-align:center; padding:10px; color:#666666; font-size:12px; }

@media screen and (max-width: 900px) {
    #content,#rodape {width: 90%;margin-top: 10px;clear: both; justify-content: center; align-items: center; display: block;}
    #direito,#esquerdo {width: 100%; clear: both; margin: auto; height: auto; display: block;}
    .img_login {width:100%; height:auto;}
    #aviso { background-color:#2C73A8; width:100%; height:auto; color:#FFFFFF; font-size:16px; line-height:25px; padding-bottom: 10px; padding-left:10px; }
    #aviso h3{ font-size:20px; margin:0px; padding-top:20px; padding-bottom:20px; }
    .logo {position: absolute; z-index: 2;color: white;font-weight: bold; color: #55AAFF }
}


/* escopo geral e estrutural */
body{ padding:0px; margin:0px;font-family: 'Open Sans', sans-serif; color:#4E4E4E; overflow:hidden; background-color:#FFFFFF; }
h3 { font-weight:300; }

/* Menu-Esquerdo */
.menu  {  background-color:#464646; font-size:14px; width:130px;  height:100%; float:left; padding-top:100px;  }
.menu .user {color:#FFFFFF;padding-left:15px; padding-bottom: 20px;} 
.menu hr {border: 0px solid #FFFFFF;}
.menu ul{ padding:0px; margin:0px; }
.menu li {  padding:15px; margin:0px; color:#FFFFFF;  list-style:none;  transition: background-color 0.7s ease, color 0.7s ease;  background-color:#575757; cursor:pointer; }
.menu li:hover, .dropdown-btn:hover { background-color:#D4D4D4; }
.menu a{ color:#FFFFFF; text-decoration:none; }
.menu li:hover a{color:#3B3B3B; }

/* Dropdown para Menu-Esquerdo */
.dropdown-container {display: none; background-color: #262626; padding-left: 0px;}
.dropdown-container li {padding-left: 25px;}
.fa-caret-down {float: right; /* padding-right: 8px; */}

/* Geral */
.corpo { width:100%; max-width:calc(100% - 180px); float:left; height:100%;   padding:15px;  } 

.container { padding: 20px; text-align: left; }
.a_par {width:50%; float: left; }

@media screen and (max-width: 1000px) {
    .menu  {  background-color:#464646; font-size:14px; width:130px;height:100%; float:left; padding-top:100px; display:none}
    .corpo {  width:100%; max-width:calc(100%); float:left; height:100%;   padding:15px;  } 
    .container_top { padding: 0px; float: left; display:block; }
}

.container_top { padding: 20px; float: left; display:block; }
.container_conteudo { padding: 20px; float: left; display:block;}
.container_bottom { padding: 20px; float: left; display:block; }
.form_sel {width:100%; /*float:right;*/ margin-block-end: 0; box-shadow: 0 0 9px rgba(191, 191, 191, 0.36); border-left:1px solid rgba(222, 227, 231, 0.56); background-color:#F7F7F7;  overflow:auto;}

.form { top:0px; width:320px; position:fixed; left:calc(100% - 350px); padding:15px; box-shadow: 0 0 9px rgba(191, 191, 191, 0.36); border-left:1px solid rgba(222, 227, 231, 0.56); background-color:#F7F7F7; display:none; overflow:auto;}

/*
input[type="text"], input[type="password"], input[type="email"]{ padding:10px; margin:0px; height:35px; width:100%; border:none; border-bottom:1px solid #E1E1E1;  }   
*/
.input, input[type="text"], input[type="password"], input[type="email"] { padding:10px; margin:0px; height:35px; width:100%; border:none; border-bottom:1px solid #E1E1E1; }
input[type="button"], input[type="submit"] { width:100px; height:40px; padding:10px; margin:10px 0px; border:1px solid #969696; cursor:pointer;}
button { padding:10px; margin:10px 0px; border:1px solid #969696; cursor:pointer;}
select { padding:10px; margin-top:10px; height:40px; width:100%; border:none; border:1px solid #E1E1E1; }
input[type="file"] {display: none;}
.custom-file-upload {width:100px; height:35px; padding:5px 0px 0px; margin:10px 0px; border:1px solid #969696; text-align:center; font-size:13px; font-weight:normal ;cursor:pointer; display:inline-block }
.btn1{ background-color:#ECECEC; width:100px; height:40px; }
.btn2{ background-color:#D4F7C4; width:100px; height:40px; }

/* estrutura das tabelas */
.tabelarow { overflow:auto; overflow-x:hidden;}

/* estrutura das tabelas */
table { table-layout:fixed; padding:0px; margin:0px; width:100%; border:2px; font-size:12px; line-height:30px; border-collapse:collapse; }
table th{ border-bottom:1px solid #E6E6E6; max-width:200px; text-align:left; white-space: nowrap; overflow:hidden}
table th:nth-child(1){ font-size:14px;}
table td{ border-bottom: solid 1px #E6E6E6; text-align:left; white-space: nowrap; overflow:hidden}
table td:nth-child(1){  font-size:12px; font-weight:bold; max-width:80px; }
table a { color:#4E4E4E; font-weight: bold; }
hr { border:none; border-bottom:dashed 1px #E6E6E6; }

/*
table { table-layout:fixed; padding:0px; margin:0px; width:100%; border:2px; font-size:12px; line-height:30px; border-collapse:collapse; }
table th{ border-bottom:1px solid #E6E6E6; max-width:200px; text-align:left; overflow:hidden}
table th:nth-child(1){ font-size:14px;}
table td{ border-bottom: solid 1px #E6E6E6; text-align:left; overflow:hidden}
table td:nth-child(1){  font-size:12px; font-weight:bold; max-width:80px; }
table a { color:#4E4E4E; font-weight: bold; }
hr { border:none; border-bottom:dashed 1px #E6E6E6; }
*/

.lista_comum, .tabela_comum { width:70%;}
.lista_comum th, .lista_comum td{ text-align:left;  }

.tabela_comum td{ border:0px; }
.tabela_comum input[type="text"], .tabela_comum input[type="password"] { border:1px solid #E1E1E1 }

div.dt-container {margin: 0;width: 80%;}

/* agenda */
.titulo_inicial { height: 40px; line-height:40px; text-align:center; width:100%; vertical-align:top; }
.titulo_inicial div { height: 38px;  width:120px; display:inline-block; vertical-align:top; line-height:38px; }
.titulo_inicial img{ display: inline-block; cursor:pointer; }
.titulo_inicial input[type="text"] { height:38px; width:160px; border:none; outline: none; padding:0px; margin-left:0px; cursor:pointer; font-size: 18px;font-weight:  bold; }

.reservado{ background-color:#FBFABB ; cursor:pointer; }
.confirmado { background-color:#BFF9B9; cursor:pointer; }
.cancelado{ background-color:#FCC5C5; cursor:pointer; }


.reservado hr, .cancelado hr, .confirmado hr{ border:none; }
.disponivel:hover { background-color:#DFDFDF; cursor:pointer; }


/* Tooltip */
.tooltip {position: relative; display: inline-block; }     
.tooltip .tooltiptext { visibility: hidden; width: 300px; background-color: #F0F0F0;  color: #999; text-align: center; padding: 5px 0; border-radius: 8px; border: solid 1px #CCC; opacity: 0.9; transition: width 5s, opacity 3.9s; 
            position: absolute; z-index: 1;top: 40px; left: 95%;}
.tooltip:hover .tooltiptext {visibility: visible;}



